#map-container {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map-container .ol-control button {
  background-color: rgba(0,0,0,0.5);
}

#map-container .ol-scale-line {
  background: rgba(0,0,0,0.5);
}

.menu-outer {
  display: block;
  position: absolute;
  top: .5em;
  right: .5em;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,0.6);
  border-radius: 0.2em;
}

.menu-inner {
  margin: 10px;
}

.menu-inner div {
  margin-top: 5px;
}

.menu-inner .layer-toggle {
  font-size: 0.9em;
  color: rgba(200,200,200,1.0);
}

.menu-inner select {
  background-color: rgba(0,0,0,0.25);
  color: rgba(200,200,200,1.0);
}

.menu-inner select:hover {
  background-color: rgba(0,0,0,0.12);
}

.menu-inner select option {
  background-color: rgba(0,0,0,0.5);
  color: rgba(200,200,200,1.0);
}

.animation-playpause {
  cursor: pointer;
  position: absolute;
  top: 2.6em;
  left: 3.7em;
  padding-left: 6px;
  padding-top: 3px;
  width: 2.2em;
  height: 2.2em;
  background-color: rgba(0,0,0,0.6);
  border-color: rgba(255,255,255,0.3);
  border-radius: 0.2em;
  border-width: 0.5em;
  color: rgba(255,255,255,0.7);
}

.animation-playpause i {
  /* width: 4em;
  height: 4em; */
}

.time_label {
  position: absolute;
  top: 0.5em;
  left: 2.5em;

  text-shadow:1px 1px 4px rgba(0,0,0,1);
  font-weight:bold;
  font-variant:small-caps;
  color:#FFFFFF;
  letter-spacing:1pt;
  word-spacing:0pt;
  font-size:1.5em;
  text-align:left;
  font-family:helvetica, sans-serif;
  line-height:1;
}

.scale_label {
  position: absolute;
  bottom: 1.6em;
  left: 0.5em;

  text-shadow:1px 1px 4px rgba(0,0,0,1);
  font-weight:bold;
  font-variant:small-caps;
  color:#FFFFFF;
  letter-spacing:1pt;
  word-spacing:0pt;
  font-size:1.1em;
  text-align:left;
  font-family:helvetica, sans-serif;
  line-height:1;
}

.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 530px;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}

.popup_table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.popup_table td, .popup_tableth {
  border: 1px solid #ddd;
  padding: 8px;
}

.popup_table tr:nth-child(even){background-color: #f2f2f2;}

.popup_table tr:hover {background-color: #ddd;}

.popup_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
.pagination .page-item .page-link {
  cursor: pointer;
}